{
  //   ╔═╗╔═╗╦  ╦╔╗╔╔╦╗┬─┐┌─┐  ┌─┐┬  ┬┌─┐┬─┐┬─┐┬┌┬┐┌─┐
  //   ║╣ ╚═╗║  ║║║║ ║ ├┬┘│    │ │└┐┌┘├┤ ├┬┘├┬┘│ ││├┤
  //  o╚═╝╚═╝╩═╝╩╝╚╝ ╩ ┴└─└─┘  └─┘ └┘ └─┘┴└─┴└─┴─┴┘└─┘
  //  ┌─  ┌─┐┌─┐┬─┐  ┌─┐┬ ┬┌┬┐┌─┐┌┬┐┌─┐┌┬┐┌─┐┌┬┐  ┌┬┐┌─┐┌─┐┌┬┐┌─┐  ─┐
  //  │   ├┤ │ │├┬┘  ├─┤│ │ │ │ ││││├─┤ │ ├┤  ││   │ ├┤ └─┐ │ └─┐   │
  //  └─  └  └─┘┴└─  ┴ ┴└─┘ ┴ └─┘┴ ┴┴ ┴ ┴ └─┘─┴┘   ┴ └─┘└─┘ ┴ └─┘  ─┘
  // > An .eslintrc configuration override for use with the tests in this directory.
  //
  // (See .eslintrc in the root directory of this package for more info.)

  "extends": [
    "../.eslintrc"
  ],

  "env": {
    "mocha": true
  },

  "rules": false
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // ^^^
  // FUTURE: When time allows, update this package's older tests
  // so that they match today's coding conventions + .eslintrc
  // (thus allowing us to run the linter on the tests as intended)
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



}
